.App {
    transition: color 0.5s ease-out;
}

.darkmode-background {
    background-color: #252525;
    color: #fff;
}

.lightmode-background {
    background-color: #fff;
    color: #252525;
}
